<footer>
    <a href="https://www.facebook.com/lavanderia.rimaclean/"><img src="../Images/Face.jpeg" width="35" height="35"></a>
    <a href="https://www.instagram.com/rimacleanlavanderia/"><img src="../Images/Instagram.jpeg" width="35" height="35"></a>
    <a href="https://www.youtube.com/watch?v=CE8ZcUBapWI"><img src="../Images/Youtubebest.jpeg" width="57" height="44"></a>
    <a href="https://yellow.place/pt/rimaclean-lavanderia-industrial-ltda-s%C3%A3o-jo%C3%A3o-de-meriti-brazil"><img src="../Images/Whatsbest.jpeg" width="40" height="40"></a>
    <p>Porque seu jeans merece!</p>
</footer>
