<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rimaclean Lavanderia | RJ</title>

    <!--  Leaflet's Map CSS (WEBPAGE) -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS (WEBPAGE)-->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

    <style>

        /*////////////////////////ANIMATION CLASSES /////////////////////////////////////////*/
        @keyframes up {
            from {
                opacity: 0;
                transform: translateY(16px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes right {
            from {
                opacity: 0;
                transform: translateX(160px);
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        @keyframes left {
            from {
                opacity: 0;
                transform: translateX(-160px);
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        @keyframes appear {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .animate-up {
            animation-name: up; 
            animation-duration: 200ms;
            animation-fill-mode: backwards;
        }
        
        .animate-appear {
            animation-name: appear;
            animation-duration: 200ms;
            animation-fill-mode: backwards;
        }

        .animate-right {
            animation-name: right;
            animation-duration: 600ms;
            animation-fill-mode: backwards;
        }

        .animate-left {
            animation: left;
            animation-duration: 600ms;
            animation-fill-mode: backwards;
        }

        .animate-appearHome {
            animation-name: appear;
            animation-duration: 600ms;
            animation-fill-mode: backwards;
        }
        /*/////////////////////////////////// HEADER CSS ///////////////////////////////*/
        /*/////////////////////////////////// HEADER CSS ///////////////////////////////*/
        @font-face {
                font-family: 'BlueRiver' ;
                src: url('/Partials/BlueRiver.otf') format('opentype');
                font-weight: normal;
                font-style: normal;
        }
        * {
            margin: .0rem;
            box-sizing: border-box;
        }

        body {
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        }

        header{
            display: flex;
            padding: .1rem; 
            background: rgb(37, 37, 39);
            height: 12.5vh;
            width: 100vw;
            box-sizing: border-box;
        }

        header nav {
            display:flex;  
            flex:1;
        }

        .logo{ 
            display: flex;
            /*size: 2rem;*/
            flex: .8;
            align-items: center;
            justify-items: center;
            margin-left: 6.5rem;
            height: auto;
        }

        .logo a {
            align-items: center;
            justify-content: center;
        }
            
        header nav a img{
            display: flex;
            /*size: 2rem;*/
            max-width: 100%;
            max-height: 100%;
            width:auto;
            height: 11.7vh;
            align-items: center;
            justify-content: center;
        }

        header nav p {
            color: rgb(249, 250, 252);
            font-family: 'BlueRiver', Times, serif;
            font-size: 1.5vw;
            display: flex;
            flex: 2;
            align-items: center;
            text-align: center;
            margin-left: 10rem;
            width: 100px;
            margin-right: -4rem;
            white-space: nowrap;
        }

        header nav ul  {
            display: flex; 
            list-style: none; 
            align-items: center;
            flex: 2;
            margin-right: 6.5rem;
            text-align: center;
            /*List style None Retiraospontosdostopicos*/
        }

        a:hover {
            color:rgb(0, 153, 255);
        }
        
        ul li a{
            color: rgb(249, 250, 252);
            font-family: copperplate, serif;
            font-size: 1vw;
            /*justify-content: space-between;*/
            padding: 1vw;
            background-color: rgb(37, 37, 39)aqua;
            border: .1rem solid white;
            text-decoration:none;
            justify-content:center;
            width: 5.9rem;
            margin-right: -2.2rem;
            margin-left: 4rem;
            align-items:center;
            overflow: hidden;
            white-space: nowrap;
        }

        /*//////////////////////////END OF HEADER CSS////////////////////////////////////////////////////////////*/

        /*//////////////////////////      WEBPAGE CSS////////////////////////////////////////////////////////////*/
            
        
        .container {
            display: flex;
            /*gap: .08rem;*/
            height: 81vh;
            width: 100vw;
            box-sizing: border-box;
        }
        aside{
            flex-basis: 25%;
            display: flex;
            flex-direction: column;
            border: 0.02px solid;
            height: 80.9vh;
            text-align: center;
            font-size: 17px;
            font-family: copperplate, serif;
            

        }
        aside section:nth-child(1) {
            display: flex;
            background:rgb(37, 37, 39);
            color: white;
            flex: .2;
            align-items: center;
            justify-content:center;
            
            
        }
        aside section:nth-child(2) {
            display: flex;
            background:rgb(49, 49, 53);
            color: white;
            flex: 2;
            align-items: center;
            text-align: center;
            
        }
        aside section:nth-child(3) {
            display: flex;
            background:rgb(49, 49, 53);
            color: white;
            flex: 1;
            align-items: center;
            justify-content:center;
        }
        main{ 
            display: flex;
            flex: 1;
            border: 1px solid;
            height: 80.9vh;
            align-items: center;
            text-align: center;
            /*background-image: url(/Images/localização.jpeg);*/
            background-position: center;
            background-size: cover;

        }

        /* ---------> CSS MAP  <---------*/

        .mainMap {
        display: flex;
        }

        main #mapid{
            display: flex;
            width: 100%;
            height: 100%;
            animation-delay: 200ms;
        }

        /* ---------> CSS MAP BUTTON  <---------*/
        
        a.create-orphanage {
            position: absolute;
            right: 4rem;
            bottom: 4rem;

            z-index: 10;

            width: 6.4rem;
            height: 6.4rem;
            background: #15C3D6;
            border: 0;
            border-radius: 2rem;
            
            display: flex;
            justify-content: center;
            align-items: center;

            transition: background-color 200ms;
        }

        a.create-orphanage:hover {
            background: #17D6EB;
        }

        .leaflet-popup-content-wrapper {
            background: rgba(255, 255, 255, 0.8);
            border-radius: 20px;
        }

        .leaflet-popup-content {
            color: #0089A5;
            margin: .8rem 1.2rem;
            font-family: 'BlueRiver', Times, serif;
            font-size: 19px;
            display: flex;
            flex: 2;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .leaflet-popup-content a {
            width: 4rem;
            height: 4rem;
            background: #15C3D6;
            box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
            border-radius: 12px;

            display: flex;
            align-items: center;
            justify-content: center;
            
            transition: background-color .2s;
        }


        .leaflet-popup-tip {
            display: none;
        }

        .leaflet-container {
            font: 700 2rem/1 'Nunito', sans-serif;

            z-index: 5;
        }

        /*//////////////////////////END OF WEBPAGE CSS////////////////////////////////////////////////////////////*/

        /*//////////////////////////      FOOTER CSS             ///////////////////////////////////////////////*/

        footer {
            display: flex;
            /*margin-top:auto;*/
            /*height: 3rem;*/
            height: 6.5vh;
            width: 100vw;
            align-items: center;
            /*margin-top: 0;*/
            background:rgb(37, 37, 39);
            /*border: 1px solid;*/
            box-sizing: border-box;
            }
            
        footer a{
            display: flex;
            size: 2rem;
            flex: .8;
            align-items: center;
            margin-left: 6.5rem;
            
        }

        footer a:nth-child(1) {
            display: flex;
            justify-content: flex-start;
            flex:0.02;
        }
        footer a:nth-child(2) {
            display: flex;
            justify-content: flex-start;
            flex:0.02;
        }
        footer a:nth-child(3) {
            display: flex;
            justify-content: flex-start;
            flex:0.02;
        }
        footer a:nth-child(4) {
            display: flex;
            justify-content: flex-start;
            flex:5;
        }
        body footer p {
            display: flex;
            flex: 5;
            font-family: 'BlueRiver', Times, serif;
            color: rgb(249, 250, 252);
            font-size: 2.5vh;
            font-weight: normal;
            }
            
        /*//////////////////////////END OF FOOTER CSS////////////////////////////////////////////////////////////*/

        /*//////////////////////////      SERVIÇOS CSS             ///////////////////////////////////////////////*/

        .container2 {
        height: 81vh;
        width: 100vw;
        box-sizing: border-box;
        }

        .MainS {
        position: relative; 
        display: flex;
        flex: 1;
        border: 1px solid;
        /*height: 80vh;*/
        height: 80.9vh;
        align-items: center;
        text-align: center;
        background-position: center;
        background-size: 100%;
        }

        /*Solução para fazer somente o background opaco*/
        .MainS::before {
        content: "";
        background-image: url("../Images/Lavanderia_Industrial.jpg");
        background-size: 100%;
        position:absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.15;
        }

        .TituloS {
        /*font-family: Hind, sans-serif;*/
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        color: rgb(65, 66, 66);
        text-align: center;
        /*background-color: rgb(37, 37, 39);*/ 
        height: 4vh;
        /*border: 1px solid;
        border-color: rgb(37, 37, 39);*/
        }
        /*Container para Imagens na Esquerda*/
        .ContainerS {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 90%;
        margin: 0 auto;
        background-color:rgba(70, 72, 107, 0.5);
        z-index: 999;
        padding: 12px 30px;
        align-items: center;
        justify-content: center;
        }

        .thumb-bar img{
        display: block;
        width: 7.1vw;
        height: 12vh;
        float: left;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        }

        .thumb-bar img:hover {
        opacity: 0.7;
        }

        .full-img {
        position: relative;
        display: block;
        align-content: center;
        }

        .displayed-img {
        width: 30vw;
        height: 52vh;
        border-radius: 10px;
        background-color: red;
        }
        /*Container para Texto na Direita*/
        .ContainerT {
        display: flex;
        width: 40%;
        height: 90%;
        margin: 0 auto;
        background-color:rgba(70, 72, 107, 0.5);
        align-items: center;
        text-align: center;
        padding: 12px 30px;
        z-index: 999;
        }

        .ServicesBox {
        display: flex;
        flex-direction: column;
        /*font-family: Hind, sans-serif;*/
        font-family: 'Roboto', sans-serif;
        width: 95%;
        height: 95%;
        background-color: rgba(252, 250, 250, 0.5);
        border-radius: 10px;
        }

        .Sbox1 {
        display: flex;
        height: 24%;
        width: 100%;
        font-size: 2.8vh;
        font-weight: bold;
        color: rgb(65, 66, 66); 
        align-items: center;
        text-align: center;
        background-color: rgba(165, 163, 163, 0.5);
        border-radius: 10px;
        padding: 12px 10px;
        }

        .Sbox2 {
        display: flex;
        height: 6%;
        width: 100%;
        font-size: 1.7vh;
        color: rgb(65, 66, 66); 
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 12px 30px;
        }

        .displayed-txt{
        display: flex;
        height: 70%;
        width: 100%;
        font-size: 16px;
        align-items: center;
        text-align: justify;
        justify-content: center;
        padding: 12px 30px;
        text-justify: inter-word;
     
        }

        /*//////////////////////////END OF SERVICOS CSS////////////////////////////////////////////////////////////*/

        /*//////////////////////////      HOME CSS             ///////////////////////////////////////////////*/

        .back-video {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        }

        @media (min-aspect-ratio: 16/9) {
            .back-video{
                width: 100%;
                height: auto;
            }
        }

        @media (max-aspect-ratio: 16/9) {
            .back-video{
                width: auto;
                height: 100%;
            }
        }

        @font-face {
                font-family: 'Roboto' ;
                src: url('/Partials/Roboto-Regular.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
        }

        @font-face {
                font-family: 'Roboto-Bold' ;
                src: url('/Partials/Roboto-Bold.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
        }

        .HomeContent {
            display: flex;
            flex: 1;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            font-family: 'Roboto', sans-serif;
            color: white;
            align-items: center;
        }
        .HomeTitle {
            font-size: 48px;
            font-style: bold;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .HomeSubTitle {
            font-size: 25px;
            font-style:oblique;
            font-weight: 600;
            margin-bottom: 20px;
        }


        #SaibaMais{
            width: 11%;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            color: white;
            background-color: transparent;
            font-size: 19px;
            padding: 0.6rem;
            border: .06rem solid white;
            white-space: nowrap;
            text-decoration: none;
            
        }

        .containerHome {
            display: flex;
            flex-direction: column;
            gap: .08rem;
            height: 188vh;
            width: 100vw;
            box-sizing: border-box;
        }

        .containerHomeAbertura {
            display: flex;
            flex-direction: column;
            gap: .08rem;
            height: 87.5vh;
            width: 100vw;
            box-sizing: border-box;
        }

        .containerProposito {
            display: flex;
            flex: 1;
            gap: .08rem;
            height: 100.5vh;
            width: 100vw;
            box-sizing: border-box;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            font-family: 'Roboto', sans-serif;
            color: white;
            align-items: center;
            background-image: url("../Images/jeans_background.jpg");
        }

        #PropositoTitle {
            display: flex;
            flex: 1;
            transform: rotate(270deg);
            text-align: left;
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 6.5rem;
            font-style: bold;
            width: 100%;
            /*margin-left: -5%;*/
            height: auto;
        }

        #PropositoTitle::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 50%;
            right: 0;
            height: 2px;
            background-color: white;
        }

        #PropositoTitle::before {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            right: 50%;
            height: 2px;
            background-color: white;
        }

        #PropositoTexto {
            display: flex;
            flex: 1.3;
            font-size: 2.4vh;
            height: 100%;
            /*width: 25vw;*/
            text-align: center;
            align-items: center;
            justify-content: center;
            justify-items: center;
            margin-left: -5%;
            

        }

        #PropositoImagem {
            display: flex;
            flex: 1;
            height: 100%;
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items: center;
        }

        #PropositoImagem img {
            margin-bottom: -16%;
        }

         /*//////////////////////////END OF HOME CSS////////////////////////////////////////////////////////////*/

        /*//////////////////////////      SOBRE CSS             ///////////////////////////////////////////////*/

        .containerSobre{
            display: flex;
            flex-direction: column;
            /*gap: .08rem;*/
            height: 88vh;
            width: 100vw;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            color: white;
            background-image: url('../Images/sobre_bg8.jpg');
        
        }

        .NossaHistoria {
            display: flex;
            flex-direction: row;
            flex: 1;
            height: 50%;
        }

        .NossasPessoas {
            display: flex;
            flex-direction: row;
            flex: 1;
            height: 50%;
            
        }

        #SobreTexto1 {
            display: flex;
            flex-direction: column;
            flex: 2;
            padding: 2rem;
            justify-content: left;
            font-size: 1.1rem;
        }

        #SobreTitle {
            display: flex;
            flex: .5;
            align-content: center;
            align-items: center;
            justify-content: left;
            justify-items: left;
            height: 100%;
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 1.5rem;
        }

        #SobreTitle::after {
            content: "";
            display: block;
            width: 79%;
            padding-top: 27px;
            border-bottom: 2px solid #f9dd94;
        }

        #SobreImagem1 {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            /*padding: .5rem;*/
        }

        
            </style>
        </head>

        
        