<!DOCTYPE html>
<html lang="en">

<%- include('../Partials/Head'); %>

<body>

    <%- include('../Partials/Header'); %>

     <div class="container"> 

        <div class="HomeContent">
            <div class="HomeTitle">Rimaclean Lavanderia </div>
            <div class="HomeSubTitle">Um Novo Conceito Em Beneficiamento Têxtil</div>
            <button id="SaibaMais">Saiba Mais ></button>
        </div>
        
        
        <video autoplay loop muted plays-inline class="back-video">
            <source src="../Images/video.mp4" type="video/mp4">
        </video>

       
   </div> 

   

    <%- include('../Partials/Footer'); %>
    
</body>
</html>



