<!DOCTYPE html>
<html lang="en">

<%- include('../Partials/Head'); %>
<body>

    <%- include('../Partials/Header'); %>

    
    <div class="container2 animate-appear" >
        <h1 class="TituloS" class="animate-appear">SERVIÇOS</h1>
        
        <main class="MainS" class="animate-appear"> 
            
            <div class="ContainerS">
                <div class="full-img">
                    <img class="displayed-img" src="../Images/Foto1.jpg" alt="Closeup of a human eye">
                </div>

                <div class="thumb-bar" ></div>
            </div>
            <div class="ContainerT">
                <div class="ServicesBox">
                    <div class="Sbox1">CONHEÇA NOSSOS SERVIÇOS, POSSUÍMOS SOLUÇÕES IDEAIS PARA SEU NEGÓCIO</div>
                    <div class="Sbox2">Clique nas imagens da nossa galeria para saber mais! </div>
                    <div class="displayed-txt" id="message1"></div>
                </div>
                                
            </div>
        
        <script src="../scripts/main.js" class="Services" ></script>
        </main>

    </div>

    <%- include('../Partials/Footer'); %>
    
    
</body>
</html>
