<!DOCTYPE html>
<html lang="en">

<%- include('../Partials/Head'); %>
<body>

    <%- include('../Partials/Header'); %>

    <article class="container">
        <aside>
            <button>
                <img src="../images/Delave.jpeg"> DELAVE
            </button>
            <button>
                <img src="../images/Bigodes.jpeg"> BIGODES
            </button>
            <button>
                <img src="../images/Tie dye.jpeg"> TIE DYE
            </button>
            <button>
                <img src="../images/Puidos.jpeg"> PUÍDOS
            </button>
            <button>
                <img src="../images/Tingimento.jpeg"> TINGIMENTO
            </button>
            <button>
                <img src="../images/Used.jpeg"> USED
            </button>
        </aside>
        <main class="gallery">
            <img src="../images/Foto1.jpeg" alt=""><img src="../images/Foto2.jpeg" alt=""><img src="../images/Foto3.jpeg" alt=""><img src="../images/Foto4.jpeg" alt=""><img src="../images/Foto5.jpeg" alt=""><img src="../images/Foto6.jpeg" alt="">
        </main>

    </article>

    <%- include('../Partials/Footer'); %>
    
    
</body>
</html>
