<!DOCTYPE html>
<html lang="en">

<%- include('../Partials/Head'); %>

<body>

    <%- include('../Partials/Header'); %>

    <div class="container">
        <aside class="animate-up">
            <section class="item ">Entre em Contato!</section>
            <section> 
                Endereço: 
                <br><br>
                Rua Antonio Carlos Monteiro da Silva, 881, São João de Meriti (RJ), 25555-091, Brasil
                <br><br>
                Telefone: 
                <br><br>
                +55 21 2662-5613

                <br><br>
                Whatsapp: 
                <br><br>
                +55 21 98354-2340
            </section>
            <section> Horário de Funcionamento
                <br><br>
                Segunda-feira à Sexta-feira, de 08 às 17hrs.
                <br>
                Sábados de 08 às 12hrs.
            </section>
        </aside>
        <main>
            <div id="mapid" class="animate-appear"></div>
            
            <div class="orphanages">
                
                  <span hidden
                    data-id="{{this.id}}"
                    data-name="{{this.name}}"
                    data-lat="{{this.lat}}"
                    data-lng="{{this.lng}}"
                  ></span>
                
                
              </div>
          
              
              </a>
        </main>
    </div>

    <script src="../scripts/pageMap.js"></script>

    <%- include('../Partials/Footer'); %>
    
</body>
</html>



